<% provide(:first_title, "ログイン") %>
<script type="text/javascript"><!--
function InputCharCheck( minnum, target, report ) {
   var diff = minnum - document.getElementById(target).value.length;
   var reps, repc;
   if( diff > 0 ) {
      // 足りない場合
      reps = "（あと " + diff + " 文字足りません）";
      repc = "red";
   }
   else {
      // 足りた場合
      reps = "OK！";
      repc  = "blue";
   }
   document.getElementById(report).innerHTML = reps;
   document.getElementById(report).style.color = repc;
}
// --></script>
<h1>ログイン</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email, "メールアドレス" %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password, "パスワード" %>
      <%= link_to "パスワードを忘れた場合はコチラ", new_password_reset_path %>
      <%= f.password_field :password, class: 'form-control' %>
      
      <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span>パスワードを保存する</span>
      <% end %>

      <%= f.submit "ログイン", class: "btn btn-secondary" %>
    <% end %>

    <p>アカウントをお持ちではないですか？ <%= link_to "今すぐ新規登録", signup_path %></p>
  </div>
</div>

<div id="social-platforms">
  <a class="btn btn-icon btn-facebook" href="/auth/facebook"><i class="fa fa-facebook"></i><span>Facebookでログイン</span></a>
</div>

<h2>以下は管理者用サンプルアカウントです<br>
    ※管理者ユーザーでは全てのユーザーのアカウント及びスケジュールを変更・削除できます</h2>
<div class="account-introduce">
  <ul>
    <li class="li-column">管理者ユーザー</li>
    <li class="li-detail">名前：加川 拓也</li>
    <li class="li-detail">メールアドレス：kagawa@example.com</li>
    <li class="li-detail">パスワード：pass-word</li>
    
    <li class="li-column">一般ユーザー</li>
    <li class="li-detail">名前：山田 太郎</li>
    <li class="li-detail">メールアドレス：yamada@example.com</li>
    <li class="li-detail">パスワード：pass-word2</li>
  </ul>
</div>