<% provide(:first_title, "ログイン") %>
<h1>ログイン</h1>

<h2>サンプルアカウント</h2>
<li>管理者ユーザー</li>
<ul>名前：加川　拓也</ul>
<ul>メールアドレス：kagawa@example.com</ul>
<ul>パスワード：pass-word</ul>

<li>一般ユーザー</li>
<ul>名前：山田　一郎</ul>
<ul>メールアドレス：yamada@example.com</ul>
<ul>パスワード：pass-word</ul>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email, "メールアドレス" %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password, "パスワード" %>
      <%= link_to "パスワードを忘れた場合はコチラ", new_password_reset_path %>
      <%= f.password_field :password, class: 'form-control' %>
      
      <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span>パスワードを保存する</span>
      <% end %>

      <%= f.submit "ログイン", class: "btn btn-primary" %>
    <% end %>

    <p>アカウントをお持ちではないですか？ <%= link_to "今すぐ新規登録", signup_path %></p>
  </div>
</div>