<% provide(:first_title, 'ユーザー一覧') %>
<h1>登録されているユーザーの一覧</h1>

<!-- ここからお試しユーザー用の説明 -->
<% if trial_user? && current_user.meeting.empty? %>
  <div class="explain-text">
  <p>手順(1/4)</p>
  <h2>以下のユーザーからいくつかフォローをお願いいたします<br>
      ユーザーはポートフォリオ用のダミーユーザーとなります<br>
      いくつかフォローができましたら「次へすすむ」をクリックしてください</h2>
      <%= link_to "次へすすむ", meeting_index_path, class: "btn btn-lg btn-secondary emphasize" %>
   </div>
<% else %>
  <h2>全てポートフォリオ用のダミーユーザーとなります</h2>
<% end %>
<!-- ここまでお試しユーザー用の説明 -->

<div class="user-index-pagination"><%= will_paginate @users, :previous_label => ' 前へ ', :next_label => ' 次へ' %></div>

<!-- 検索結果が空であれば表示せず、0であれば一致しない文言、1以上であれば検索結果の表示 -->
<div class="search-box">
  <% if @count && @count > 0 %>
    <p>検索結果：<%= @count %>件</p>
  <% elsif @count%>
    <p>検索条件に一致する項目はありません</p>
  <% end %>
</div>

<div class="user-index">

<%= form_tag users_path, :method => 'get' do %>

  <p>
    <!-- 新しいアクションとパスを作る予定 -->
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "検索", :name => nil %>
  </p>
  <p>
    <%= submit_tag "クリア", :search => nil %>
  </p>
<% end %>

<ul class="users">
  <% @users.each do |user| %>
    <% @user = user %>
    <%= render 'users/user', user: user %>
  <% end %>
</ul>
</div>  
<div class="user-index-pagination"><%= will_paginate @users, :previous_label => ' 前へ ', :next_label => ' 次へ' %></div>
