<% provide(:first_title, '新規登録') %>
<h1>新規登録フォーム</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
    
      <%= f.label :name, "お名前" %>
      <%= f.text_field :first_name, :placeholder => "姓", class: 'form-control' %>
      <%= f.text_field :last_name, :placeholder => "名", class: 'form-control' %>
      
      <%= f.label :email, "メールアドレス" %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password, "パスワード" %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "パスワードの再確認" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "上記内容にて登録", class: "btn btn-secondary" %>
    <% end %>
    
    <div id="social-platforms">
      <a class="btn btn-icon btn-facebook" href="/auth/facebook"><i class="fa fa-facebook"></i><span>Facebookでログイン</span></a>
    </div>
    
  </div>
</div>
