<% provide(:first_title, '新規登録') %>
<h1>新規登録フォーム</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
    
      <%= f.label :name, "お名前" %>
      <%= f.text_field :first_name, :placeholder => "姓", class: 'form-control' %>
      <%= f.text_field :last_name, :placeholder => "名", class: 'form-control' %>
      
      <%= f.label :email, "メールアドレス" %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password, "パスワード" %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "パスワードの再確認" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "上記内容にて登録", class: "btn btn-secondary" %>
    <% end %>
     <script>
var finished_rendering = function() {
  console.log("finished rendering plugins");
  var spinner = document.getElementById("spinner");
  spinner.removeAttribute("style");
  spinner.removeChild(spinner.childNodes[0]);
}
FB.Event.subscribe('xfbml.render', finished_rendering);
</script>
<div id="spinner"
    style="
        background: #4267b2;
        border-radius: 5px;
        color: white;
        height: 40px;
        text-align: center;
        width: 250px;">
    Loading
    <div
    class="fb-login-button"
    data-max-rows="1"
    data-size="large"
    data-button-type="continue_with"
    data-use-continue-as="true"
    ></div>
</div>cope="<comma separated list of permissions, e.g. public_profile, email>"
></div>
    <%= link_to "Facebookでログイン", "/auth/facebook" %>
  </div>
</div>
