<% provide(:first_title, @title) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1><%= @user.name %></h1>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="col-md-8">
    <h3><%= @title %></h3>
    <% if @users.any? %>
    <div class="user-index">
      <ul class="users follow">
        <% @users.each do |user| %>
          <% @user = user %>
          <%= render 'users/user', user: user %>
        <% end %>
      </ul>
      </div>
      <div class="user-index-pagination"><%= will_paginate @users, :previous_label => ' 前へ ', :next_label => ' 次へ' %></div>
    <% end %>
  </div>
</div>