<% provide(:first_title, "スケジュール変更") %>

<h1><%= "スケジュール変更" %></h1>
<%#@meeting.start_time = nil %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@meeting) do |f| %>
    
      <%= render 'shared/error_messages', object: f.object %>
    
      <%= f.label :start_time, "スケジュールの開始日" %>
      
      <%# debugger %>
      
      <div class='input-group date datepicker'>
       <%= f.text_field :start_date, class: 'form-control date-picker' %>
       <span class="input-group-addon">
           <span class="fa fa-calendar"></span>
       </span>
      </div>
      
      <%= f.label :start_time, "時間" %>
      <!--　editビューで@meetingのデータが「時」と「分」でも表示されるようにする　-->
      <% @meeting.start_hour = @meeting.start_time.to_s[11,2].to_i %>
      <% @meeting.start_minute = @meeting.start_time.to_s[14,2].to_i %>
      
      <% hours = (0..23).to_a %>
      <% minutes = (0..5).to_a.map{|minute| minute * 10}  %>
      
      <%= f.select :start_hour, hours.map {|h| ["#{h}時",h] } %>  
      <%= f.select :start_minute, minutes.map {|m| ["#{m}分",m] } %>  
    
      <%= f.label :title, "タイトル" %>
      <%= f.text_area :title, class: 'form-control' %>

      <%= f.label :content, "スケジュールの詳細" %>
      <%= f.text_area :content, class: 'form-control' %>
      
      <%= f.submit "スケジュールの変更", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

