<!-- ここからお試しユーザー用の説明 -->
<% if trial_user? && current_user.meeting.empty? %>
  <div class="explain-text">
    <p>手順(2/4)</p>
    <h2>下のカレンダーにフォローしたユーザーのスケジュールが表示されました<br>
        次は今日の自分のスケジュールを作成します</h2>
     <%= link_to "次へすすむ", new_meeting_path(date: Date.today) , class: "btn btn-lg btn-secondary emphasize" %>
     <%= link_to "前へもどる", users_path, class: "btn btn-lg btn-secondary least" %>
   </div>
<% else %>
  <h2>ここではフォローしたユーザー達のスケジュールをまとめて確認することができます</h2>
  <h2>日付をクリックすると新しいスケジュールを作成できます</h2>
<% end %>
<!-- ここまでお試しユーザー用の説明 -->

<%= week_calendar number_of_weeks: 1 do |date| %>
  <div class="schedule_date"><%= link_to "#{date.month} / #{date.day}" ,"/meeting/#{date}/new" %></div>

  <!-- カレンダーの各日のレコードをページネーションを使って取得 -->
  <!-- パラメータからdateを受け取ることで日付事のページ番号を受け取る -->
  <% @meetings =  current_user.feed.where( "start_time LIKE ?" , "#{date.to_s}%").paginate(page: params[:"#{date}"], per_page: 3) %>
  
  <%= render 'shared/calender' %>

  <!--　param_name: "#{date}"で日付事のページ番号をパラメータに追加  -->
  <%= will_paginate @meetings, :previous_label => ' &lt ', :next_label => ' &gt',
      inner_window: 0, outer_window: 0 ,param_name: "#{date}" %>    
    
<% end %>
