<% provide(:first_title, "スケジュールの登録") %>

<!-- ここからお試しユーザー用の説明 -->
<% if trial_user? && current_user.meeting.empty? %>
  <div class="explain-text">
    <p>手順(3/4)</p>
    <h2>『スケジュールの開始時間』を選び<br>
        『タイトル』及び『スケジュールの詳細』を入力してください<br>
        入力が完了したら『スケジュールの作成』ボタンをクリックします</h2>
    <h2>※お試しログインのユーザーはログアウト時にデータが削除されます</h2> 
    <%= link_to "前へもどる",  meeting_index_path, class: "btn btn-lg btn-secondary least" %>
  </div>
<% else %>
  <h2>全てポートフォリオ用のダミーユーザーとなります</h2>
<% end %>
<!-- ここまでお試しユーザー用の説明 -->

<!--　createアクションが失敗して再表示された場合　-->
<% if !@meeting.user_id.nil? %>
  <h1><%= @meeting.start_time.month %> 月 <%= @meeting.start_time.day %> 日 のスケジュール作成</h1>
  <div class="row">
  <div class="col-md-6 col-md-offset-3">
    
    <%= form_for(@meeting, url: schedule_path) do |f| %>
      <%= render 'new', f: f %>
      <%= f.hidden_field :start_date, :value => @meeting.start_time.to_s[0,10] %>
    <% end %>
    
  </div>
</div>
<!--　newアクションで初回に表示されるページ　-->
<% else %>  
  <h1><%= params[:date].to_date.month %> 月 <%= params[:date].to_date.day %> 日 のスケジュール作成</h1>
  <div class="row">
  <div class="col-md-6 col-md-offset-3">
    
    <%= form_for(@meeting, url: schedule_path) do |f| %>
      <%= render 'new', f: f %>
      <%= f.hidden_field :start_date, :value => params[:date] %>
    <% end %>
    
  </div>
</div>
<% end %>

      