<% provide(:first_title, "スケジュールの入力") %>
<h1>予定の作成</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:meeting, url: schedule_path) do |f| %>
    
      <%= f.label :title, "予定のタイトル", placeholder: "例：ミーティング" %>
      <%= f.text_area :title, class: 'form-control' %>


      <%= f.label :content, "詳細", placeholder: "例：2F B室にて" %>
      <%= f.text_area :content, class: 'form-control' %>
      
      <%= f.hidden_field :start_time, :value => params[:date] %>
      <%= f.hidden_field :user_id, :value => current_user.id %>

      <%= f.submit "予定の作成", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>