<% provide(:first_title, @meeting.title) %>
<div class="row  schedule-detail">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>スケジュール日程</h1>
      <p><%= @meeting.start_time.month %> 月 <%= @meeting.start_time.day %> 日 <%= @meeting.start_time.hour %> 時 <%= @meeting.start_time.to_s[14,2] %> 分 <p>
      <h1>スケジュール作成者</h1>
      <%= link_to @meeting.user.name, user_path(@meeting.user.id) %>
   </section>
    <% @user = @meeting.user %>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>

   </aside>
  <div class="col-md-8">

    <div class="schedule_show">
      <h1><%= @meeting.title %></h1>
      <p><%= @meeting.content %></p>
      <% if current_user?(@meeting.user) || current_user.admin? %>
                <%= link_to "予定を編集する", edit_meeting_path(@meeting) %>
                <%= link_to "予定を削除する", @meeting, method: :delete,
                                               data: { confirm: "本当に削除しますか？" } %></br>
      <% end %>
    </div>
  </div>
</div>