<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <div class="app-title">
      <% if logged_in? %>
        <%= link_to "シェアスケジュール", meeting_index_path %>
      <% else %>
        <%= link_to "シェアスケジュール", root_path %>
      <% end %>
    </div>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? && trial_user? %>
        <% else %>
          <li><%= link_to "アプリの使い方", using_path %></li>
        <% end %>
        <% if logged_in? %>
          <li><%= link_to "ユーザー一覧", users_path %></li>
          <li><%= link_to "みんなのスケジュール", meeting_index_path %></li>
          <li><%= link_to "自分のスケジュール",  current_user%></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= current_user.name %>さん <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "自分の予定", current_user %></li>
              <% if !trial_user? %>
                <li><%= link_to "アカウント情報の変更", edit_user_path(current_user) %></li>
              <% end %>
              <li class="divider"></li>
              <li>
                <% if trial_user? %>
                  <%= link_to "ログアウト", logout_trial_user_path, method: :delete %>
                <% else %>
                  <%= link_to "ログアウト", logout_path, method: :delete %>
                <% end %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "ログイン", login_path %></li>
          <li><%= link_to "お試しログイン", login_trial_user_path %></li>
          <li><%= link_to "アカウント新規作成", new_user_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>